@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700;800&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #4640DE;
  --color-primary-dark: #3d37c9;
  --color-dark: #202430;
  --color-dark-2: #25324B;
  --color-light: #515B6F;
  --color-lighter: #7C8493;
  --color-bg: #F8F8FD;
  --color-border: #D6DDEB;
  --font-sans: "Epilogue", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: #FFFFFF;
    color: var(--color-dark-2);
  }
}